{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static "geral/css/edit.css" %}" />
    <link rel="stylesheet" href="{% static "geral/css/global.css" %}" />
  </head>
  <body>
    <div class="edit">
      <div class="layout-bg"></div>
      <button class="edit-child" onclick="window.location.href = '{% url "listar_pessoas" %}'">CREATE</button>
      <button class="edit-item" onclick="window.location.href = '{% url "editar_pessoas" %}'">EDIT</button>

      <div class="visualizador">
        <div class="rectangle-div table-container">
          <table>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>RG</th>
              <th>CPF</th>
              <th>Data de Nascimento</th>
              <th>Data de Admissão</th>
              <th>Função</th>
            </tr>
            <tr>
              <td>{{ pessoa.id_pessoa }}</td>
              <td>{{ pessoa.nome }}</td>
              <td>{{ pessoa.rg }}</td>
              <td>{{ pessoa.cpf }}</td>
              <td>{{ pessoa.data_nascimento }}</td>
              <td>{{ pessoa.data_admissao }}</td>
              <td>{{ pessoa.funcao }}</td>
            </tr>
          </table>
        </div>
      </div>

      <form id="update-form" action="{% url 'atualizar_pessoas' pessoa.id_pessoa %}" method="POST">
        {% csrf_token %}
        <input class="nome" name="nome" placeholder="Nome" type="text" value="{{ pessoa.nome }}" /><br>
        <input class="cpf" name="cpf" placeholder="CPF" type="text" value="{{ pessoa.cpf }}" /><br>
        <label class="data-admissao">Data de Admissão</label>
        <input class="data-admissao" name="data_admissao" placeholder="Data de Admissão" type="date" value="{{ pessoa.data_admissao }}" /><br>
        <input class="rg" name="rg" placeholder="RG" type="text" value="{{ pessoa.rg }}" /><br>
        <label class="data-nascimento">Data de Nascimento</label>
        <input class="data-nascimento" name="data_nascimento" placeholder="Data de Nascimento" type="date" value="{{ pessoa.data_nascimento }}" /><br>
        <input class="funcao" name="funcao" placeholder="Função" type="text" value="{{ pessoa.funcao }}" /><br>
        <button class="btn-update" type="submit">Update</button>
      </form>

      <input type="hidden" name="id" value="{{ pessoa.id_pessoa }}">
      <input class="id" placeholder="ID" type="text" id="id-input" />
      <button class="btn-ok" onclick="redirectToUpdatePage()">OK</button>
      <button class="btn-delete" onclick="deletarPessoa()">Delete</button>
    </div>

    <script>
      function redirectToUpdatePage() {
        const id = document.getElementById("id-input").value;
        if (id) {
          window.location.href = '/atualizar_pessoas/' + id;
        } else {
          alert("Por favor, insira um ID válido.");
        }
      }

      function deletarPessoa() {
        const id = document.getElementById("id-input").value;
        if (id) {
          if (confirm("Tem certeza de que deseja excluir esta pessoa?")) {
            window.location.href = '/deletar_pessoas/' + id;
          }
        } else {
          alert("Por favor, insira um ID válido.");
        }
      }
    </script>
  </body>
</html>
